._body {
  background-color: transparent;
  padding: 0 15px 5px 15px;
  display: flex;
  align-items: end;
  transition-duration: 0.6s;
  font-size: 12px;
  margin: 2.5px 0;
  gap: 15px;
  overflow: visible;
}

.container {
  display: flex;
  justify-content: start; 
}

._body > button {
  padding: 7.5px;
  border-radius: 50%;
  background-color: #515151;
  display: inline-block;
  position: relative;

}

button:active {
  scale: 0.98;
}

._body > button > img {
  height: 18px;
  width: 18px;
}

.logo {
  height: 25px;
  width: 25px;
  margin: 5px 0;
}

.tooltip-text {
  background-color: black;
  position: absolute;
  color: #fff;
  font-size: 12px;
  left: 50%;
  top: -35px;
  translate: -50% 0; 
  padding: 5px 8px;
  border-radius: 10px;
  white-space: nowrap;
  z-index: 999999999;
  transition: opacity 0.2s;
  opacity: 0;
  pointer-events: none;
  font-weight: bold;
  letter-spacing: 0.3px;
}

._body > button:hover .tooltip-text {
  opacity: 1;
}

._body > button:hover {
  background-color: #606060;
}